body {
    font-family: sans-serif;
    background-image: url(resources/girnar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.well {
  background-color: #7bdbea85 !important;
  color: #091973;
}
body>header {
    background-color: #ecb12b96;
    font-size: large;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}

.screen {
    margin-top: 20px;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
